body{
    background: black;
}

.card-img-top {
    align-self: center;
}

.card {
    margin: 10px;
    width: 16rem;
}

.add-favorite {
    font-size: 20px !important;
    margin: 0px;
    color:orange
}

.add-favorite-btn {
    background: none;
    border-color: orange;
}

.add-favorite-btn:hover {
    background: none;
    border-color: orange;
    box-shadow: 0 0 0 0.25rem rgba(253, 199, 49, 0.5);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: white;
    border-color: none;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff; 
    background-color: white;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(253, 199, 49, 0.5);
}

.remove-favorite {
    font-size: 20px !important;
    margin: 0px;
    color:black
}

.learn-more {
    background: none;
    color: blue
}

.btn-group {
    margin-right: 85px;
}

.counter {
    background-color: red;
    margin-left: 5px;
    margin-right: 5px;
    width: 18px;
}

.dropdown-toggle::after {
    align-self: center;
}

svg {
    font-size: 50px;
    margin: 10px;
}

.card-btns {
    display: flex;
    justify-content: space-between;
}

.card-body {
    text-align: left;
}

.titles {
    text-align: left;
    margin-bottom: 15px;
    color:red;
}

.card-list {
    overflow-x: auto;
    margin-bottom: 40px;
}

.dropdown-item {
    color: blue;
    width: auto;
}

a.dropdown-item:hover {
    color: blue;
    text-decoration: underline;
    background: none;
}

.dropdown-item:hover {
    background: coral;
    width: auto;
}

.favorite-list{
    justify-content: space-between;
}

.detail-main {
    width: auto;
}
