.card-img-top {
    width: 170px !important;
}

.card {
    margin: 10px;
}

.add-favorite {
    font-size: 20px !important;
    margin: 0px;
    color:orange
}

.add-favorite-btn {
    background: none;
    border-color: orange;
}

.learn-more {
    background: none;
    color: blue
}

.btn-group {
    margin-right: 85px;
}

.counter {
    background-color: red;
    margin-left: 5px;
    margin-right: 5px;
    width: 18px;
}

.dropdown-toggle::after {
    align-self: center;
}
svg {
    font-size: 50px;
    margin: 10px;
}